In [1]:
my_tuple = (1, 1.5, 2+0j, 'Himanshu', [5, 6, 7], True, False, 0)

In [2]:
my_tuple

(1, 1.5, (2+0j), 'Himanshu', [5, 6, 7], True, False, 0)

In [3]:
my_tuple[0] = 9

TypeError: 'tuple' object does not support item assignment

In [4]:
len(my_tuple)

8

In [7]:
tuple_1 = (1,)

In [8]:
type(tuple_1)

tuple

In [9]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [10]:
my_tuple[2:5]

((2+0j), 'Himanshu', [5, 6, 7])

In [11]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [12]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [13]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [14]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [15]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry