In [1]:
mytuple = ("apple", "banana", "cherry")

In [2]:
for i in mytuple:
    print(i)

apple
banana
cherry

In [4]:
for x in "Tanuj":
    print(x)

T
a
n
u
j

In [5]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

StopIteration:

In [6]:
print(len("Tanuj"))

5

In [7]:
len(mytuple)

3

In [8]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [9]:
def sum(a,b):
    return a+b

In [10]:
sum(1,6)

7

In [11]:
sum(1.5, 2.7)

4.2

In [12]:
sum("Tan","uj")

'Tanuj'

In [13]:
# Parent class
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

# child Class
class Car(Vehicle):
  pass

# child Class
class Boat(Vehicle):
  def move(self):
    print("Sail!")

# child Class
class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!